LLMTSup/**/*.png filter=lfs diff=lfs merge=lfs -text
LLMTSup/**/*.jpg filter=lfs diff=lfs merge=lfs -text
LLMTSup/**/*.psd filter=lfs diff=lfs merge=lfs -text
LLMTSup/**/*.fbx filter=lfs diff=lfs merge=lfs -text
LLMTSup/**/*.obj filter=lfs diff=lfs merge=lfs -text
LLMTSup/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
LLMTSup/**/*.wav filter=lfs diff=lfs merge=lfs -text
LLMTSup/**/*.unity filter=lfs diff=lfs merge=lfs -text
LLMTSup/**/*.asset filter=lfs diff=lfs merge=lfs -text
LLMTSup/**/*.prefab filter=lfs diff=lfs merge=lfs -text
